<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2017-2021</p>
                        <div class="h5">Bachelor Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Bachelor of Engineering</div>
                        <h4 class="category">Dr Ambedkar institute of technology</h4>
                        <ul>
                            <li> Dr Ambedkar institute of technology in Karnataka </li>
                            <li>Completed B-tech in Computer Science and Engineering with <b>8.73 cgpa </b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2015-2017</p>
                        <div class="h5">Pre-university education</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">11-12 </div>
                        <h4 class="category">Alva's pu College</h4>
                        <ul>
                            <li>Completed Pre-university education with <b>88%</b> aggregate.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2014-2015</p>
                        <div class="h5">Secondary education</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">10 class</div>
                        <h4 class="category">Swamy vivekananda high School</h4>
                        <ul>
                            <li>Completed with <b>88% </b>aggregate.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>